$colorFondo: rgb(51, 50, 49);
$color1: rgb(240, 240, 16);
$color2: rgb(175, 172, 3);
$color3: rgb(228, 228, 4);
$color4: darkorange;
$color5: orange;
$color6: black;
$colorRegistro: gray;
$colorFuente: white;