.cuerpo {
  padding: 0 6% 5% 6%;

  h2 {
    text-align: center;
    font-size: 40px;
    padding-top: 5%;
    color: $color1;
  }

  .burguers {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;

    .caja {
      color: $colorFuente;
      padding: 5%;

      h3 {
        font-size: 24px;
        padding: 5%;
        color: $color1;
      }

      p {
        text-align: justify;
      }

      img {
        width: 75%;
        padding-bottom: 5%;

        &:hover {
          opacity: 0.6;
          cursor: pointer;
        }
      }
    }

    @media screen and (max-width: 768px) {
      grid-template-columns: 1fr;
    }
  }
}
